extends layout

block content
    p I am Paragraph
    h1 #{title}
    table
        tr
            th Id
            th Name
            th Department
            th Salary
        each data in empData
            tr
                td= data.empId
                td= data.empName
                td= data.empDept
                td= data.empSalary